<div>
  <app-alert-box></app-alert-box>
  <router-outlet></router-outlet>
</div>
<h1 class="green h-size text-center mt-5"><b>Agregar detalles del producto</b></h1>
<div class="container">
  <div class="card mt-5 card-style">
    <div class="card-body">

      <form #sellerAddProduct="ngForm" (ngSubmit)="submint(sellerAddProduct.value)" >
        <div class="mb-4">
          <!-- <label for="exampleInputPassword1" class="form-label">Name</label> -->
          <input type="text" required class="form-control" ngModel name="name" placeholder="Ingrese el nombre del Producto"
            id="exampleInputName">
        </div>

        <div class="mb-4">
          <input type="number" required class="form-control" ngModel name="price" id="exampleInputPrice"
            placeholder="Ingrese el precio" aria-describedby="emailHelp">
        </div>

        <div class="mb-4">
            <input type="text" required class="form-control" ngModel name="color" id="exampleInputColor"
              placeholder="Ingrese el Color" >
          </div>

        <div class="mb-4">
          <select required class="form-control" ngModel name="category" id="exampleInputCategory">
            <option *ngFor="let category of categories" [value]=category.id>{{category.descripcion}}</option>
          </select>
        </div>

        <div class="mb-4">
            <textarea class="form-control" ngModel name="description" placeholder="Ingrese la descripción del producto" id="exampleInputDescription" rows="3"></textarea>
            </div>

            <div class="mb-4">
                <input type="url" required class="form-control" ngModel name="url" placeholder="Ingrese la URL de la Imagen"
                  id="exampleInputUrl">
              </div>
        <div class="text-center">
          <button type="submit" class="btn center">Agregar Producto</button>
        </div>
        <h4 class="green text-center mt-4">{{addPrductMesg}}</h4>
      </form>
    </div>
  </div>
</div>











