<!-- Site footer -->
<footer class="site-footer mt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Sobre el desarrollo</h6>
        <p class="text-justify">
          El objetivo de este proyecto es desarrollar un sistema completamente
          funcional. sitio web de comercio electrónico que utiliza el marco de
          desarrollo: Angular, TypeScript, HTML, CSS, .Net Core, Bootstrap,
          iconos FontAwesome, Angular Material y API JSON. El El sitio web tiene
          como objetivo realizar un demo de lo que seria la implementación de un
          E-Commerce por un equipo de trabajo experiencia.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Lenguajes Usados</h6>
        <ul class="footer-links">
          <li>
            <a target="_blank" href="https://www.typescriptlang.org/"
              >TypeScript</a
            >
          </li>
          <li>
            <a target="_blank" href="https://angular.io/">Angular Framework</a>
          </li>
          <li>
            <a target="_blank" href="https://www.w3schools.com/html/">HTML</a>
          </li>
          <li>
            <a target="_blank" href="https://www.w3schools.com/css/">CSS</a>
          </li>
          <li>
            <a target="_blank" href="https://getbootstrap.com/">Bootstrap</a>
          </li>
          <li><a target="_blank" href="https://jsonapi.org/">JSON API</a></li>
          <li>
            <a
              target="_blank"
              href="https://dotnet.microsoft.com/es-es/download/dotnet"
              >.NET Core</a
            >
          </li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Proyecto en Angular realizado para
          <a href="https://www.linkedin.com/in/rohitsingh9191/" target="_blank"
            >ECO-FRIENDLY</a
          >.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a
              target="_blank"
              class="twitter"
              href="https://github.com/RohitSingh9191"
              ><i class="fa-brands fa-github fa-xl" style="color: #e1e4ea"></i
            ></a>
          </li>
          <li>
            <a
              target="_blank"
              class="linkedin"
              href="https://www.linkedin.com/in/rohitsingh9191/"
              ><i
                class="fa-brands fa-linkedin-in fa-lg"
                style="color: #e1e4ea"
              ></i
            ></a>
          </li>
          <li>
            <a target="_blank" class="facebook" href="#"
              ><i
                class="fa-brands fa-facebook-f fa-lg"
                style="color: #e1e4ea"
              ></i
            ></a>
          </li>

          <li>
            <a target="_blank" class="dribbble" href="#"
              ><i
                class="fa-brands fa-instagram fa-xl"
                style="color: #e1e4ea"
              ></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
