<div>
  <app-alert-box></app-alert-box>
  <router-outlet></router-outlet>
</div>
<div class="container mt-5">
  <div *ngIf="productDetails">
    <div
      class="card mb-3 card-style mb-4 card-hower"
      *ngFor="let item of productDetails"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <a routerLink="/product-details/{{ item.id }}">
            <img
              src="{{ item.urlImagen }}"
              class="img-fluid rounded-start"
              alt="Product Image"
            />
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a routerLink="/product-details/{{ item.id }}">
              <h2 class="">
                <b>{{ item.descripcion }}</b>
              </h2>
            </a>

            <span>Precio - {{ item.precio }}</span
            ><br /><br />
            <span>Categoria - {{ item.categoria.nombre }}</span
            ><br /><br />
            <p class="card-text">Descripción - {{ item.descripcion }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="noDataPersent" class="footer-margin">
      <h1 class="text-center red">{{ noDataPersent }}</h1>
    </div>
  </div>
</div>
