<div *ngIf="!showLogin">
  <h1 class="text-color text-center mt-5"><b>Registrar Usuario</b></h1>
  <div class="container">
    <div class="card mt-5 card-style">
      <div class="card-body">

        <form #sellerSingUp="ngForm" (ngSubmit)="singUp(sellerSingUp.value)">

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nombre</label>
            <input type="text" required class="form-control" ngModel name="name" placeholder="Ingrese sus nombres y apellidos"
              id="exampleInputName" #nameInput="ngModel">
              <div *ngIf="nameInput.invalid &&  nameInput.touched" class="error-message">
                <span class="red">Por favor ingrese un nombre valido.</span>
              </div>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo</label>
            <input type="email" required ngModel name="email" class="form-control" placeholder="Ingrese su correo"
              #emailInput="ngModel">
            <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="error-message">
              <span class="red">Por favor ingrese un mail valido</span>
            </div>
            <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más..</div>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" required class="form-control" ngModel name="password" placeholder="Ingrese su contraseña"
              #passwordInput="ngModel" id="exampleInputPassword1">
            <div *ngIf="passwordInput.invalid &&  passwordInput.touched" class="error-message">
              <span class="red">Por favor ingrese una contraseña válida</span>
            </div>
          </div>

          <div class="mb-3 form-check">
            <input type="checkbox" required class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Dar de alta</label>
          </div>

          <div class="text-center">
            <button type="submit" [disabled]="emailInput.invalid || passwordInput.invalid || nameInput.invalid" class="btn center btn-outline-success">Registrar</button>
          </div>
        </form>
        <div class="d-flex mt-3">
          <h4>Usted ya tiene una cuenta? <a class="green" (click)="opneLogin()"> Click para login</a></h4>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- ----------LogIn Aria------------- -->

<div *ngIf="showLogin">
  <h1 class="text-color text-center mt-5"><b>Login de Usuario</b></h1>
  <div class="container">
    <div class="card mt-5 card-style">
      <div class="card-body">

        <form #sellerLogIn="ngForm" (ngSubmit)="login(sellerLogIn.value)">

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo</label>
            <input type="email" required ngModel name="email" class="form-control" placeholder="Ingrese su correo"
              #emailInput="ngModel">
            <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="error-message">
              <span class="red">Por favor ingrese un correo valido.</span>
            </div>
            <div id="emailHelp" class="form-text">No compartiremos su correo con nadie</div>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" required class="form-control" ngModel name="password" placeholder="Ingrese su contraseña"
              #passwordInput="ngModel" id="exampleInputPassword1">
            <div *ngIf="passwordInput.invalid &&  passwordInput.touched" class="error-message">
              <span class="red">Por favor ingrese una contraseña válida</span>
            </div>
          </div>
          <!--
            <div class="mb-3 form-check">
              <input type="checkbox" required class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1"></label>
            </div>
          -->
          <div class="text-center">
            <button type="submit" [disabled]="emailInput.invalid || passwordInput.invalid "
              class="btn center btn-outline-success">Login</button><br><br>
            <h4 class="red">{{authError}}</h4>
          </div>
        </form>
        <div class="d-flex mt-3">
          <h4>¿No tiene una Cuenta? <a class="green" (click)="opneSingup()"> Click para Registrarse</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
